#stripe-border {
    position: absolute;
    width: 60%;
    min-height:50px blue;
    border: 1px solid black
 }
 
 #stripe {
    width: 100%;
    min-height: 50px;
    background-color: blue;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform .4s, background-color .4s;
 }